/*-------헤더-------*/
:root {
    --text-color: #f0f4f5;
    --background-color: #263343;
    --accent-color:#d49466
}

body, html {
    height: 100%;
}
body{
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--text-color);
}
.navbar {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
}

.navbar_logo {
    font-size: 24px;
    color: var(--text-color);
}

.navbar_logo i {
    color: var(--accent-color);
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li {
    padding: 8px 12px;
}

.navbar_menu li:hover {
    background-color: var(--accent-color);
    border-radius: 4px;
}
.navbar_icons {
    list-style: none;
    color: var(--text-color);
    display: flex;
    padding-left: 0;
}

.navbar_icons a {
    padding: 8px 12px;
}

.navbar_toogleBtn{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--accent-color);
}

@media screen and (max-width: 768px){
    .navbar { 
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu li {
        width: 100%;
        text-align: center;
    }

    .navbar_icons {
        display: none;
        justify-content: center;
        width: 100%;
        
    }

    .navbar_toogleBtn {
        display: block;
    }

    .navbar_menu.on,
    .navbar_icons.on{
        display: flex;
    }
}

/*----------------------container------------------------*/
.cont {
    background: beige;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 8px;
}


.item {
    float: left;
    width: 289px; height: 363px;
    margin: 10px 20px 30px 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.item1 {
    background: #ef9a9a;
    flex: 1 1 auto;
}

.item2 {
    background: #f48fb1;
    flex: 1 1 auto;
}

.item3 {
    background: #ce93d8;
    flex: 1 1 auto;
}

.item4 {
    background: #b39ddb;
    flex: 1 1 auto;
}

.item5 {
    background: #98caf9;
    flex: 1 1 auto;
}

.item6 {
    background: #9acd31;
    flex: 1 1 auto;
}

.item7 {
    background: rgb(111, 170, 23);
    flex: 1 1 auto;
}

.item5 i {
    color: #f57f17;
}
.item6 i {
    color: #0069c0;
}
.item7 i {
    color: #ffea00;
}
